* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

.container {
    height: 100%;
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
}


nav {
    background-color: rgb(255, 255, 255);
    padding: 20px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}

.navbar ul li a:hover {
    color: #b77700;
}



.home {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.home h1 {
    text-align: center;
    color: #ffffff;
}

.home .home-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home .home-button {
    background-color: #ffffff;
    padding: 8px 50px;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
}

.home .home-button:hover {
    background-color: #634000;
}

.home .home-button a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
}

.home .home-button a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.home .content-move {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    max-width: 200px;
    max-height: 200px;
    color: #ffffff;
}



.content {
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
    margin-top: 100px;
}

.content .content-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.card {
    flex-basis: 30%;
    max-width: 30%;
    height: 530px;
    max-height: 530px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 2px solid #634100;
}

.card:hover img {
    filter: brightness(70%);
    transition: filter 0.3s ease-in-out;
}

.card img {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    height: 370px;
    max-height: 370px;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.card-body {
    padding: 10px;
}

.card-button {
    margin-top: 10px;
    background-color: #634100;
    padding: 10px 50px;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out;
    text-align: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
}

.card-button:hover {
    margin-top: 10px;
    background-color: #3a2600;
    padding: 10px 50px;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out;
    text-align: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
}

.card-button a {
    color: white;
    text-decoration: none;
}



.footer {
    background-color: #634100;
    height: 40vh;
    width: 100%;
    margin-top: 50px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.footer h2 {
    color: white;
    font-weight: bold;
}

.footer p {
    color: white;
    text-align: center;
}

.footer .footer-desc {
    width: 50%;
    margin-top: 50px;
    text-align: center;
}

.footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    color: #fff;
    border: 1px solid white;
    padding: 10px 12px;
    border-radius: 50%;
    transition: border-color 0.3s ease-in-out;
}

.footer ul li a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color 0.3s ease-in-out;
}

.footer ul li a:hover {
    border-color: black;
}

.footer ul li a:hover i {
    color: black;
}



.detail {
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
    margin-top: 100px;
}

.detail-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 100%;
    max-height: 100%;
}

.detail-img {
    display: flex;
    flex-basis: 50%;
    width: 50%;
    height: 100%;
}

.detail-img img {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 0 10px;
}

.detail-desc {
    display: flex;
    flex-basis: 50%;
    width: 50%;
    height: 100%;
    padding: 20px 20px;
    border: 1px solid #634100;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.detail-desc h2 {
    text-align: center;
    margin-bottom: 20px;
}

.detail-desc p {
    margin-bottom: 20px;
}

.detail-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: auto;
}

.detail-button .button-back {
    background-color: #634100;
    padding: 10px 50px;
    border-radius: 8px;
    text-align: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.detail-button .button-wa {
    background-color: #634100;
    padding: 10px 70px;
    border-radius: 8px;
    text-align: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.detail-button .button-wa a i {
    font-size: 20px;
}

.detail-button a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 992px) {
    .detail {
        height: 220vh;
    }
    .detail-content {
        flex-direction: column;
    }

    .detail-img {
        flex-basis: 100%;
        width: 100%;
        max-width: 100%;
    }

    .detail-desc {
        flex-basis: 100%;
        width: 100%;
        max-width: 100%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .content {
        height: 180vh;
    }
    .card {
        flex-basis: 45%;
        max-width: 45%;
    }
    .detail {
        height: 200vh;
    }
}

@media screen and (max-width: 576px) {
    .navbar ul {
        width: 50%;
    }
    .card {
        flex-basis: 100%;
        max-width: 100%;
    }
    .content {
        height: 250vh;
    }
    .footer {
        margin-top: 100px;
        height: 60vh;
    }
    .footer .footer-desc {
        width: 80%;
    }
    .detail {
        height: 150vh;
    }
    .detail-img {
        height: 50%;
    }
    
    .detail-img img {
        height: 90%;
        padding: 0 10px;
    }
    .detail-button .button-back {
        padding: 10px 30px;
    }
    
    .detail-button .button-wa {
        padding: 10px 50px;
    }
}

@media screen and (max-width: 466px) {
    .detail {
        height: 180vh;
    }
}

@media screen and (max-width: 452px) {
    .navbar {
        justify-content: space-around;
    }
    nav h3 {
        font-size: 16px;
    }
    nav a {
        font-size: 14px;
    }
}

@media screen and (max-width: 380px) {
    nav h3 {
        font-size: 14px;
    }   
    nav a {
        font-size: 12px;
    }
}